.home-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 570px;
  /*background-color: rgb(188, 175, 192);*/
  border-radius:0 0 2em 2em;

  background: linear-gradient(-45deg,   #a31af9, #0c0c0c);
  background-size: 400% 400%;
  box-shadow: inset 0 0 35px #0000001f,
  0 7px 5px #5c5a5a60;
}
button:focus{
  border: 2px solid #8a18ccb6;
}

@keyframes gradient {
0% {
  background-position: 0% 50%;
}
50% {
  background-position: 100% 50%;
}
100% {
  background-position: 0% 50%;
}
}
